<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Blog</h1>
    <hr>
    <h2>Update Blog</h2>

    <form action="#" th:action="@{/saveBlog}" th:object="${employee}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{title}" class="form-control mb-4 col-4">
        <textarea th:field="*{body}" ></textarea>

        <button type="submit" class="btn btn-info col-2"> Update Blog</button>
    </form>
    <hr>

    <a th:href = "@{/posts/posts}"> Back to Blog List</a>
</div>

</body>
</html>