<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

<div th:fragment="posts(posts)">
  <div class="posts_wrapper">
    <div class="post" th:each="post : ${posts}">
      <!--            <h2><a th:href="@{'/post/' + ${post.id}}" th:text="${post.title}">Title</a></h2>-->
      <!--            <h5 th:text="'Published on ' +${#dates.format(post.currentDate, 'MMMM dd, yyyy')} +' by username'">Creation date and by whom</h5>-->
      <!-- this is where the username fields and creation time go -->
      <!--           this doesn't work right now <h5 th:text="'Published on ' + ${#dates.format(post.date, 'yyyy MMMM dd')} +  ${post.user.username}'">Creation date and by whom</h5>-->

      <div class="img">
        <img src="/images/logo.svg" th:src="@{/images/logoicon.svg}"/>
      </div>
      <!--            <p th:text="${post.body}">body text</p>-->


      <br>
      <div class="card-transparent pwrapper">
        <div class="card-header">
          <!--                    This should be where the username is posted, right now itis just pulling the title-->
          <p><a th:href="@{'/post/' + ${post.id}}" th:text="${post.title}">Title</a></p>
        </div>
        <div class="card-body">

          <h5 class="card-title"><a th:href="@{'/post/' + ${post.id}}" th:text="${post.title}">Title</a></h5>

          <p class="card-text"><p th:text="${post.body}">body text</p>
          <!--                    fix this with user  -->
          <p class="card-text" th:text="'Published on ' +${#dates.format(post.currentDate, 'MMMM dd, yyyy')} +' by username'"><small class="text-muted">Last updated 3 mins ago</small></p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <!--                        These should only be shown once a user has logged in and should only show on posts they have made-->
            <a th:href="@{/showPostForUpdate/{id}(id=${post.id})}" class="btn btn-outline-primary">Update</a>
            <a th:href="@{/deletePost/{id}(id=${post.id})}" class="btn btn-outline-danger">Delete</a>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>

</body>
</html>